.p {
  color: black;
}
.s {
  font-size: 12px;
  color: blueviolet;
}
.m {
  font-size: 14px;
  color: blue;
  margin-top: 15px;
  margin-right: 10px;
}
.l {
  font-size: 16px;
  color: chartreuse;
}
